<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Interdimensional Cable</title>
</head>
<body>
    <div>
        <iframe id="ytplayer" type="text/html" width="640" height="360" frameborder="0" src="#"></iframe>
    </div>
    <button id="prev-button">PREVIOUS CHANNEL</button>
    <button id="next-button">NEXT CHANNEL</button>

</body>

<script type="text/javascript" src="static/scripts/idc.js"></script>

<script type="text/javascript">
init({{ video_ids | safe}});
</script>

</html>